/* Reset */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

/* All anchor tags(Redesign) */
a {
    text-decoration: none;
    color: #333;
}

/* Hover effects */
#navbar #left a:hover, #navbar #right #one:hover, #navbar #right #two:hover {
    text-decoration: underline;
}

.fas:hover {
    background-color: #F5F5F5;
}

#searchbar:hover, .other:hover {
    box-shadow: 0px 0px 5px #ccc;
}

#languages a:hover {
    text-decoration: underline;
}


/* Option Buttons */
.option {
    border: none;
    background-color: #000080;
    color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 50%;
    
}

/* Icon */
.fas {
    padding: 10px;
    border-radius: 50%;
    color: #B2BEB5;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#left a {
   padding: 10px 5px;
   margin: 10px 5px;
}

#right a {
    padding: 10px;
    margin: 5px;
 }

 /* Main-doc */
 #main-doc {
     margin-top: 230px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

#google-image {
    width: 272px;
}

/* Searchbar */
#searchbar {
    display: flex;
    margin-top: 25px;
    width:580px;
    height: 43px;
    border-radius: 22px;
    border: solid 0.1px #ccc;
    outline: none;
    
}

#search-text {
    width: 90%;
    border: none;
    outline: none;
}

/* Text under searchbar */
#random-text {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

/* other */
.other {
    padding: 10px;
    margin: 10px 5px;
    background-color: #F5F5F5 ;
}

/* Language Section */
#languages a {
    color: navy;
}

#footer {
    background-color: #F5F5F5 ;
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

#footer-top {
   padding: 10px;
   border-bottom: 1px solid #ccc;
   margin-bottom: 10px; 
}

#footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.footer-link {
    padding: 10px;
    margin: 20px 10px;
}

